<div class="assignmentCreate">
  <h1>New Assignment:</h1>
  <form>
    <label>
      Title:
      {{input value=newTitle placeholder="enter title"}}
    </label>
    <label>
      Instructions:
      {{textarea value=newInstructions placeholder="enter instructions"}}
    </label>
    <button type="submit" {{action "addAssignment"}}>Create</button>
  </form>
</div>