<h1>Assignments</h1>

<ul>
  {{#each assignmentService.assignments as |assignment|}}
    <li class="details">
      <p class="title">Title: {{assignment.title}}</p>
      <p class="instructions">Instructions: {{assignment.instructions}}</p>

      {{assignments-edit 
        updatedTitle=assignment.title 
        updatedInstructions=assignment.instructions 
        edit=(action "editAssignment" assignment.id)
      }}

      {{button-with-confirmation 
        class="deleteAssignment"
        warning="Are you sure you want to delete this assignment?" 
        text="Delete" 
        onConfirm=(action "deleteAssignment" assignment.id)
      }}
    </li>
  {{/each}}
</ul>