<div class="assignmentCreate">
  <h1>New Assignment:</h1>
  <form>
    <label class="newTitle">
      Title: <br>
      {{input value=newTitle placeholder="enter title"}}
    </label> <br>
    <label class="newInstructions">
      Instructions: <br>
      {{textarea value=newInstructions placeholder="enter instructions"}}
    </label> <br>
    <button type="submit" id="submit" {{action "addAssignment"}}>Create</button>
  </form>
</div>