<h2>Welcome to my weekend experiment!</h2>

<p>This app is the product of a weekend endeavour to learn the Ember.js framework. The app connects as an
  instructor to the back end for my existing <a href="https://fastback-mobile-feedback.herokuapp.com/" target="_blank">React
    Project.</a></p>

<p>Feel free to log in, create, edit, or delete items with the following credentials:</p>
<p>Email: 1@1</p>
<p>Password: 1</p>