<div class="login">
  <form {{action "login" on="submit"}}>
    <label>
      Email
      {{input type="email" value=email placeholder="enter email"}}
    </label>
    <br>
    <label>
      Password
      {{input type="password" value=password placeholder="enter password"}}
    </label>
    <br>
    <button type="submit">Submit</button>
  </form>
  <p>Don't have an account? {{#link-to "signup"}}Sign up here{{/link-to}}</p>
</div>